@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h2 class="display-3">Список клиентов</h2>
        <form method="get" asp-page="/Clients/New">
            <input class="btn btn-primary" type="submit" value="Добавить клиента">
        </form>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Номер телефона</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var clientModel in Model.Clients)
            {
                <tr id="@clientModel.Id">
                    <td>@clientModel.Id</td>
                    <td>@clientModel.FirstName</td>
                    <td>@clientModel.LastName</td>
                    <td>@clientModel.Patronymic</td>
                    <td>@clientModel.BirthDate.ToFormattedString()</td>
                    <td>@clientModel.PhoneNumber</td>
                    <td>
                        <a asp-page="/Clients/Edit" asp-route-id="@clientModel.Id">Редактировать</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>