@page "{id}"
@model EditClientModel
@{
    ViewData["Title"] ="Редактировать клиента";
}
<div class="text-center">
    <h2 class="display-3">@ViewData["Title"]</h2>
    @foreach (var message in Model.ValidationMessages)
    {
        <h4 class="alert-danger">@message</h4>   
    }
    <form method="post" asp-antiforgery="true">
        <input type="hidden" asp-for="Client.Id" value="@Model.Client.Id"/>
        <div class="mb-3">
            <label asp-for="Client.FirstName" class="form-label">Имя</label><br/>
            <input type="text" asp-for="Client.FirstName" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Client.LastName" class="form-label">Фамилия</label><br/>
            <input type="text" asp-for="Client.LastName" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Client.Patronymic" class="form-label">Отчество</label><br/>
            <input type="text" asp-for="Client.Patronymic" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Client.BirthDate" class="form-label">Дата рождения</label><br/>
            <input type="date"
                   min="@DateTimeSerivce.GetMinBirthDate().ToHTMLString()"
                   max="@DateTimeSerivce.GetMaxBirthDate().ToHTMLString()"
                   value="@Model.Client.BirthDate.ToHTMLString()" asp-for="NewBirthDate" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Client.PhoneNumber" class="form-label">Номер телефона</label><br/>
            <label style="margin-right: 2pt">+7</label>
            <input type="tel" minlength="10" maxlength="10" asp-for="Client.PhoneNumber" class="form-control-sm"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Сохранить"/>
    </form>
</div>