@page
@model NewClientModel
@{
    ViewData["Title"] ="Новый клиент";
    var maxDate = DateTimeSerivce.GetMaxBirthDate().ToHTMLString();
}
<div class="text-center">
    <h2 class="display-3">@ViewData["Title"]</h2>
    @foreach (var message in Model.ValidationMessages)
    {
        <h4 class="alert-danger">@message</h4>   
    }
    <form method="post" asp-antiforgery="true">
        <p>
            <label asp-for="Client.FirstName">Имя</label><br/>
            <input type="text" asp-for="Client.FirstName"/>
        </p>
        <p>
            <label asp-for="Client.LastName">Фамилия</label><br/>
            <input type="text" asp-for="Client.LastName"/>
        </p>
        <p>
            <label asp-for="Client.Patronymic">Отчество</label><br/>
            <input type="text" asp-for="Client.Patronymic"/>
        </p>
        <p>
            <label asp-for="Client.BirthDate">Дата рождения</label><br/>
            <input type="date"
                   min="@DateTimeSerivce.GetMinBirthDate().ToHTMLString()"
                   max="@maxDate" value="@maxDate" asp-for="NewBirthDate"/>
        </p>
        <p>
            <label asp-for="Client.PhoneNumber">Номер телефона</label><br/>
            <label style="margin-right: 2pt">+7</label>
            <input type="tel" minlength="10" maxlength="10" asp-for="Client.PhoneNumber"/>
        </p>
        <input type="submit" value="Сохранить"/>
    </form>
</div>