@page
@model NewCarModel
@{
    ViewData["Title"] ="Новый автомобиль";
}
<div class="text-center">
    <h2 class="display-3">@ViewData["Title"]</h2>
    @foreach (var message in Model.ValidationMessages)
    {
        <h4 class="alert-danger">@message</h4>   
    }
    <form method="post" asp-antiforgery="true">
        <div class="mb-3">
            <label asp-for="Car.Number" class="form-label">Номер автомобиля</label><br/>
            <input type="text" asp-for="Car.Number" placeholder="@ValidationService.SAMPLE_CAR_NUMBER" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Car.Brand" class="form-label">Бренд</label><br/>
            <input type="text" value="@Model.Car?.Brand" asp-for="Car.Brand" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Car.ReleaseYear" class="form-label">Год выпуска</label><br/>
            <input type="number" min="1900" max="@Model.Car?.ReleaseYear"  placeholder="@ValidationService.MAX_CAR_RELEASE_YEAR"
                   asp-for="Car.ReleaseYear" class="form-control-sm"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Сохранить"/>
    </form>
</div>