@page
@model AutoCar.Pages.Reports.Report4
@{
    Layout = "_ReportMasterLayout";
    ViewData["Title"] = "Отчёт #4";
    var todayString = @DateTimeSerivce.GetTodayDate().ToHTMLString();
}
<div class="text-center">
    <h2 class="display-3">@ViewData["Title"]</h2>
    <p>Отчет выводит сумму долга по всем клиентам за указанный пользователем период, 
        которая вычисляется из расчета того, что начисление происходит 1 раз в месяц, оплаты могут происходить хоть каждый день.</p>
    <form asp-antiforgery="true">
        <div class="mb-3">
            <label for="startInterval" class="form-label">Начальная дата: </label>
            <input type="date" name="startInterval" id="startInterval" class="form-control"
                   max="@todayString" value="@todayString">
        </div>
        <div class="mb-3">
            <label for="endInterval" class="form-label">Конечная дата: </label>
            <input type="date" name="endInterval" id="endInterval" class="form-control"
                   max="@todayString" value="@todayString">
        </div>
        <input class="btn btn-primary" type="submit" value="Сформировать отчёт">
    </form>
    @if (Model.Report != null)
    {
        <h5>Результат поиска по дате (@Model.Report.FromDate)-(@Model.Report.ToDate):</h5>
        <table class="table">
            <tbody>
            <tr>
                <th>Суммарный размер задолженности за период</th>
                <td>@Model.Report.TotalDebt</td>
            </tr>
            </tbody>
        </table>      
    }
</div>